.chat{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    border-bottom: 2px solid rgba(166, 166, 166, 0.333);
    padding: 30px 20px;
    &:active{
        background-color: rgb(240, 240, 240);;
    }
}

.chatWithNewMessages{
    background-color: rgb(228, 254, 245);
}

.content{
    font-family: 'Montserrat', sans-serif;
    padding: 0 15px 0;
}

.content__title{
    color:rgb(53, 53, 53);
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 2px;
    
}

.content__text{
    color:rgb(111, 111, 111);
    font-size: 16px;
}

.date{
    color:black;
    color:rgb(53, 53, 53);
    flex-shrink: 3;
    font-size: 16px;
}
 

@media (max-width:900px){
    .content__title{
        font-size: 18px;
    }

    .content__text{
        color:rgb(111, 111, 111);
        font-size: 15px;
    }
    .date{
        font-size: 14px;
    }

}

@media (max-width:650px){
    .content__title{
        font-size: 16px;
    }

    .content__text{
        color:rgb(111, 111, 111);
        font-size: 13px;
    }
    .date{
        font-size: 11px;
    }
}

