.app {
  display: grid;
  height: 100vh;
  grid-template-columns: 33% 67%;
}

@media (max-width:1070px) {
  .app{
    grid-template-columns: 40% 60%;
  }
}

@media (max-width:900px){
  .app{
    grid-template-columns:50% 50%;
  }
}

@media(max-width:580px){
  .app{
    grid-template-columns: 1fr;
  }
}